*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: lato, sans-serif;
}

body {
    background-color: #090e22;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: aliceblue;
    
}

.hide {
    display: none !important;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.container{
    min-width: 400px;
    min-height: 400px;
    background-color: #1d1e33;
    padding: 2rem;
    max-width: 250px;
    transition: .3s;
}

.result-screen{
    min-width: 400px;
    min-height: 400px;
    background-color: #1d1e33;
    padding: 2rem;
    max-width: 250px;
    /* text-align: center; */
    transition: .3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.organize-res{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* #do-again-btn {
 max-height: 30px;
 margin: 10px;
 text-align: center;
 display: flex;
 align-items: center;
 justify-content: center;
 width: 100%;
} */

#imcform h2{
    text-align: center;
    margin-bottom: 2rem;
}

.form-input {
display: flex;
flex-direction: column;
justify-content: space-between;
}

.form-adjusts {
display: flex;
flex-direction: column;
flex: 1;
margin-bottom: 1rem;
}

.form-adjusts label {
    font-weight: bold;
    margin-bottom: .6rem;
    color: aliceblue;
}

.form-adjusts input {
    padding: 1rem .5rem;
    outline: none;
}

.control-btns {
    display: flex;
    justify-content: space-between;
    margin-top: 1.8rem;
    margin-bottom: 20px;
    gap: 1rem;
}

button {
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    background-color: #f44236;
    border: none;
    color: white;
    cursor: pointer;
    opacity: .9;
    flex: 1;
}

button:hover {
    opacity: 1;
}

#clear-btn {
    background-color: rgb(83, 81, 81);
}

/* p {
    color: white;
    font-size: 1.5rem;
    margin-top: 15px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
} */

#result{
    text-align: center;
    margin-top: 30px;
    color: #fff;
    /* padding: 25px; */
    box-sizing: border-box;
    user-select: none;
    flex: 1;
    font-size: 1.4rem;
  }